<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="remarkabletour.css" />
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/bodymovin.min.js"></script>
    <script type="text/javascript" src="remarkabletour.js" async></script>
</head>

<body onload="init()">
    <div class="remarkableTour">
        <h1>TOUR NỔI BẬT</h1>
        <div class="toursContainer">
            <span class="tourCard">
                <img src="/img/remarkabletour/thailand.jpg"/>
                <div class="cardLabel">
                <label>Thái tour<br/>9 ngày</label>
            </div>
            </span>
            <span class="tourCard">
                <img src="/img/remarkabletour/mui ne.jpg"/>
                <div class="cardLabel">
                <label>Phan Thiết<br/>2 ngày</label>
            </div>
            </span>
            <span class="tourCard">
                <img src="/img/remarkabletour/coco.jpg"/>
                <div class="cardLabel">
                <label>Vũng Tàu<br/>Bình Thuận<br/>3 ngày</label>
            </div>
            </span>
        </div>
        <div class="arrow leftArrow"></div>
        <div class="arrow rightArrow"></div>
    </div>
</body>

</html>