<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="footer.css" />
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <footer>
        <div class="row">
            <div class="col-md-4 footer1">
                <div class="logoArea">
                    <img class="logo" src="/img/svg/logo.svg" />
                    <label class="logoSub">
                        Cuộc hành trình ngàn dặm
                    </label>
                    <br/>
                    <label class="logoSub">
                        bắt đầu từ một bước chân nhỏ bé.
                    </label>
                </div>
            </div>
            <div class="col-md-5 footer2">
                <h1>ĐỊA DANH HÀNG ĐẦU</h1>
                <div class="destContainer">
                    <span class="destBtn destBtn1">
                        <img src="/img/populartour/Eastern.jpg" />
                        <div class="destLabel">
                            <label>Tây Âu</label>
                        </div>
                    </span>
                    <span class="destBtn destBtn2">
                        <img src="/img/populartour/SA.jpg" />
                        <div class="destLabel">
                            <label>Nam Mỹ</label>
                        </div>
                    </span>
                    <span class="destBtn destBtn3">
                        <img src="/img/populartour/EU.jpg" />
                        <div class="destLabel">
                            <label>Châu Âu</label>
                        </div>
                    </span>
                    <span class="destBtn destBtn4">
                        <img src="/img/populartour/Afri.jpg" />
                        <div class="destLabel">
                            <label>Châu Phi</label>
                        </div>
                    </span>
                    <span class="destBtn destBtn5">
                        <img src="/img/populartour/Ameri.jpg" />
                        <div class="destLabel">
                            <label>Bắc Mỹ</label>
                        </div>
                    </span>
                    <span class="destBtn destBtn6">
                        <img src="/img/populartour/Asi.jpg" />
                        <div class="destLabel">
                            <label>Châu Á</label>
                        </div>
                    </span>
                </div>
            </div>
            <div class="col-md-3 footer3">
                <h1>THÔNG TIN LIÊN LẠC</h1>
                <address>
                    Địa chỉ: 1 Võ Văn Ngân, phường Linh Chiểu, quận Thủ Đức, thành phố Hồ Chí Minh
                    <br/> Điện thoại: 1900 0990
                    <br/> contact@vivutraveltour.com
                </address>
                <div class="socialLinkContainer">
                    <img class="facebookIcon" src="/img/svg/facebookicon.svg" />
                    <img class="instagramIcon" src="/img/svg/Instagramicon.svg" />
                    <img class="twitterIcon" src="/img/svg/twitterIcon.svg" />
                    <img class="youtubeIcon" src="/img/svg/youtubeIcon.svg" />
                </div>
                <div class="paymentsLinkContainer">
                    <img class="visaIcon" src="/img/payments/Visa.png" />
                    <img class="masterCardIcon" src="/img/payments/MasterCard.png" />
                    <img class="payPalIcon" src="/img/payments/PayPal.png" />
                </div>
            </div>
        </div>
    </footer>
</body>

</html>