body{
    margin: 0;
}

.remarkabletourbar{
    padding-top: 20px;
}

.remarkabletourbar>.head{
    margin-left: 50px;
    position: relative;;
}

.remarkabletourbar>.head h1{
    display: inline;
    font-size: 40px;
    vertical-align: middle;
    user-select: none;
    font-weight: bold;
    color: #000;
}

.remarkabletourbar>.head img{
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;
    -webkit-user-drag: none;
}


.remarkabletourbar>.head .more{
    position: absolute;
    right: 60px;
    top: 0;
    display: table;
    height: 53.6px;
}

.remarkabletourbar>.head .more>a{
    text-decoration: unset;
    color: #0066ff;
    display: table-cell;
    vertical-align: middle;
    font-style: italic;
    font-weight: 400;
}

.remarkabletourbar>.remarkabletourContainer{
    margin-top: 20px;
}

.remarkabletourbar>.remarkabletourContainer>.col-sm>.remarkabletourCard>.caption1{
    position: absolute;
    bottom: 15px;
    left: 10px;
    width: 150px;
    display: inline-block;
}

.remarkabletourbar>.remarkabletourContainer>.col-sm>.remarkabletourCard>.caption2{
    display: inline-block;
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.remarkabletourbar>.remarkabletourContainer>.col-sm>.remarkabletourCard>.caption1>.markIcon{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.remarkabletourbar>.remarkabletourContainer>.col-sm>.remarkabletourCard>.caption1>.cardName{
    color: #fff;
    vertical-align: middle;
    margin-bottom: 0;
    font-weight: bold;
    user-select: none;
}

.remarkabletourbar>.remarkabletourContainer>.col-sm>.remarkabletourCard>.caption2>.tourNum{
    color: #3CDEF1;
    margin-bottom: 0;
    user-select: none;
}

.remarkabletourbar>.remarkabletourContainer>.col-sm{
    padding: 0;
}

.remarkabletourbar>.remarkabletourContainer>.col-sm>.remarkabletourCard{
    height: 300px;
    position: relative;
}

.remarkabletourbar>.remarkabletourContainer>.col-sm>.remarkabletourCard>img{
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
    cursor: pointer;
}