<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="popularplace.css" />
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script src="popularplace.js"></script>
</head>

<body>
    <div class="popularplace">
        <div class="head">
            <h1>Địa điểm phổ biến</h1>
            <a href="#">/Xem toàn bộ</a>
            <span class="arrowContainer">
                <span class="arrow">
                    <img src="/img/svg/backArrowIcon.svg"/>
                </span>
                <span class="separator"></span>
                <span class="arrow">
                    <img src="/img/svg/forwardArrowIcon.svg"/>
                </span>
            </span>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="placeCard">
                    <div class="cardImage">
                        <img src="/img/places/pexels-photo-269128-700x450.jpeg" />
                    </div>
                    <div class="cardCaption">
                        <h1>London Eye</h1>
                        <label>$39</label>
                        <div class="subLine">
                            <label>$30</label>
                        </div>
                        <div class="info">
                            <img src="/img/svg/timeIcon.svg" />
                            <label>7 ngày</label>
                        </div>
                        <div class="starBar">
                            <img class="star1" src="/img/svg/yellowStarIcon.svg" />
                            <img class="star2" src="/img/svg/yellowStarIcon.svg" />
                            <img class="star3" src="/img/svg/yellowStarIcon.svg" />
                            <img class="star4" src="/img/svg/yellowStarIcon.svg" />
                            <img class="star5" src="/img/svg/grayStarIcon.svg" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="placeCard">
                    <div class="cardImage">
                        <img src="/img/places/pexels-photo-286746-700x450.jpeg" />
                    </div>
                    <div class="cardCaption">
                        <h1>London Eye</h1>
                        <label>$39</label>
                        <div class="subLine">
                            <label>$30</label>
                        </div>
                        <div class="info">
                            <img src="/img/svg/timeIcon.svg" />
                            <label>7 ngày</label>
                        </div>
                        <div class="starBar">
                            <img class="star1" src="/img/svg/yellowStarIcon.svg" />
                            <img class="star2" src="/img/svg/yellowStarIcon.svg" />
                            <img class="star3" src="/img/svg/yellowStarIcon.svg" />
                            <img class="star4" src="/img/svg/yellowStarIcon.svg" />
                            <img class="star5" src="/img/svg/yellowStarIcon.svg" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="placeCard">
                    <div class="cardImage">
                        <img src="/img/places/shutterstock_136984760-700x450.jpg" />
                    </div>
                    <div class="cardCaption">
                        <h1>London Eye</h1>
                        <label>$39</label>
                        <div class="subLine">
                            <label>$30</label>
                        </div>
                        <div class="info">
                            <img src="/img/svg/timeIcon.svg" />
                            <label>7 ngày</label>
                        </div>
                        <div class="starBar">
                            <img class="star1" src="/img/svg/yellowStarIcon.svg" />
                            <img class="star2" src="/img/svg/yellowStarIcon.svg" />
                            <img class="star3" src="/img/svg/yellowStarIcon.svg" />
                            <img class="star4" src="/img/svg/yellowStarIcon.svg" />
                            <img class="star5" src="/img/svg/yellowStarIcon.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>